/* CSS HEX */
.paleta {


    --mindaro: #d9ed92ff;
    --light-green: #b5e48cff;
    --light-green-2: #99d98cff;
    --emerald: #76c893ff;
    --keppel: #52b69aff;
    --verdigris: #34a0a4ff;
    --bondi-blue: #168aadff;
    --cerulean: #1a759fff;
    --lapis-lazuli: #1e6091ff;
    --indigo-dye: #184e77ff;

    /* CSS HSL */
    --mindaro: hsla(73, 72%, 75%, 1);
    --light-green: hsla(92, 62%, 72%, 1);
    --light-green-2: hsla(110, 50%, 70%, 1);
    --emerald: hsla(141, 43%, 62%, 1);
    --keppel: hsla(163, 41%, 52%, 1);
    --verdigris: hsla(182, 52%, 42%, 1);
    --bondi-blue: hsla(194, 77%, 38%, 1);
    --cerulean: hsla(199, 72%, 36%, 1);
    --lapis-lazuli: hsla(206, 66%, 34%, 1);
    --indigo-dye: hsla(206, 66%, 28%, 1);

    /* SCSS HEX */
    $mindaro: #d9ed92ff;
    $light-green: #b5e48cff;
    $light-green-2: #99d98cff;
    $emerald: #76c893ff;
    $keppel: #52b69aff;
    $verdigris: #34a0a4ff;
    $bondi-blue: #168aadff;
    $cerulean: #1a759fff;
    $lapis-lazuli: #1e6091ff;
    $indigo-dye: #184e77ff;

    /* SCSS HSL */
    $mindaro: hsla(73, 72%, 75%, 1);
    $light-green: hsla(92, 62%, 72%, 1);
    $light-green-2: hsla(110, 50%, 70%, 1);
    $emerald: hsla(141, 43%, 62%, 1);
    $keppel: hsla(163, 41%, 52%, 1);
    $verdigris: hsla(182, 52%, 42%, 1);
    $bondi-blue: hsla(194, 77%, 38%, 1);
    $cerulean: hsla(199, 72%, 36%, 1);
    $lapis-lazuli: hsla(206, 66%, 34%, 1);
    $indigo-dye: hsla(206, 66%, 28%, 1);

    /* SCSS RGB */
    $mindaro: rgba(217, 237, 146, 1);
    $light-green: rgba(181, 228, 140, 1);
    $light-green-2: rgba(153, 217, 140, 1);
    $emerald: rgba(118, 200, 147, 1);
    $keppel: rgba(82, 182, 154, 1);
    $verdigris: rgba(52, 160, 164, 1);
    $bondi-blue: rgba(22, 138, 173, 1);
    $cerulean: rgba(26, 117, 159, 1);
    $lapis-lazuli: rgba(30, 96, 145, 1);
    $indigo-dye: rgba(24, 78, 119, 1);

    /* SCSS Gradient */
    $gradient-top: linear-gradient(0deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-right: linear-gradient(90deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-bottom: linear-gradient(180deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-left: linear-gradient(270deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-top-right: linear-gradient(45deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-bottom-right: linear-gradient(135deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-top-left: linear-gradient(225deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-bottom-left: linear-gradient(315deg, #d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
    $gradient-radial: radial-gradient(#d9ed92ff, #b5e48cff, #99d98cff, #76c893ff, #52b69aff, #34a0a4ff, #168aadff, #1a759fff, #1e6091ff, #184e77ff);
}